if error && error != ""
    div(class="alert alert-danger")= error

if msg_erro && msg_erro != ""
    div(class="alert alert-danger")= msg_erro

if msg_sucesso && msg_sucesso != ""
    div(class="alert alert-success")= msg_sucesso