extends layout
block header
    link(rel='stylesheet', href='/stylesheets/login.css')

block content
    div(class="container")
        if error && error != ""
            div(class="alert alert-danger")= error
        form(class="form-signin" action="" method="post")
            h2(class="form-signin-heading") Login
            div(class="input-group margin-bottom-sm")
                span(class="input-group-addon")
                    i(class="fa fa-envelope-o fa-fw")
                input(type="email", name="email", class="form-control", placeholder="Endereço de email" value=email)
            div(class="input-group")
                span(class="input-group-addon")
                    i(class="fa fa-key fa-fw")
                input(type="password", name="password", class="form-control", placeholder="Senha" value=password)
            div(class="form-group")
                a(href='/registro') Ainda não é registrado?
            button(class="btn btn-dark btn-block", type="submit") Entrar