<div class="col-xs-12">
  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="subCategoria in categoria.SubCategoria">
        <td>
            <input ng-model="subCategoria.Nome" class="form-control" placeholder="Informe o Nome"
            ng-readonly="tabDelete" />
        </td>
        <td style="width:150px;" ng-if="!tabDelete">
          <button class="btn btn-success" ng-click="addSubCategoria($index)"><i class="fa fa-plus"></i></button>
          <button class="btn btn-danger" ng-click="deleteSubCategoria($index)"><i class="fa fa-trash-o"></i></button>
        </td>
        <td style="width:150px;" ng-if="tabDelete">
          <button class="btn btn-success disabled"><i class="fa fa-plus"></i></button>
          <button class="btn btn-danger disabled"><i class="fa fa-trash-o"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
