<div class="box-body">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Profissão</th>
        <th>Estilo</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="cliente in clientes">
        <td>{{:: cliente.Nome }}</td>
        <td>{{:: cliente.Email }}</td>
        <td>{{:: cliente.Profissao }}</td>
        <td>{{:: cliente.Estilo }}</td>
        <td style="width:100px;">
          <button class="btn btn-warning" ng-click="showTabUpdate(cliente)"><i class="fa fa-pencil"></i></button>
          <button class="btn btn-danger" ng-click="showTabDelete(cliente)"><i class="fa fa-trash-o"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="box-footer clearfix">
   <paginator url="/#!/cadastros/clientes" pages="{{ pages }}"></paginator>
</div>
