extends ../layout

block content
    h3 Clientes
    table(class="table table-sm")
        thead(class="thead-inverse")
            tr
                th Nome
                th Email
                th Profissão
                th Estilo
                th 
        tbody
            tr
                td Marcos Cury
                td marcospcury@gmail.com
                td Analista de Sistemas
                td Moderno
                td
                    a(class="btn btn-sm", tooltip="Editar cliente")
                        i(class="fa fa-pencil fa-fw")
                    a(class="btn btn-sm", tooltip="Excluir cliente")
                        i(class="fa fa-trash-o fa-fw")
            tr
                td Daniela Braga
                td danielabraga@gmail.com
                td Analista de Sistemas
                td Tradicional
                td
                    a(class="btn btn-sm", tooltip="Editar cliente")
                        i(class="fa fa-pencil fa-fw")
                    a(class="btn btn-sm", tooltip="Excluir cliente")
                        i(class="fa fa-trash-o fa-fw")