<div role="form">
  <div class="box-body">
    <field id="forneceodrNome" label="Nome" model="fornecedor.Nome" placeholder="Informe o nome" grid="12 6 6" readonly="tabDelete"></field>
    <field id="fornecedorRazaoSocial" label="Razão Social" model="fornecedor.RazaoSocial" placeholder="Informe a razão social" grid="12 6 6"
      readonly="tabDelete"></field>

    <field id="fornecedorTipo" label="Tipo" model="fornecedor.Tipo" placeholder="Informe o tipo" grid="12 6 4" readonly="tabDelete"></field>
    <field id="fornecedorEmail" label="Email" model="fornecedor.Email" placeholder="Informe o email" grid="12 6 4" readonly="tabDelete"></field>
    <field id="fornecedorContato" label="Nome do contato" model="fornecedor.NomeContato" placeholder="Informe nome do contato"
      grid="12 6 4" readonly="tabDelete"></field>

    <field id="fornecedorTelefoneComercial" label="Telefone comercial" model="fornecedor.Telefones.Comercial" placeholder="Informe o telefone comercial"
      grid="12 6 4" readonly="tabDelete"></field>
    <field id="fornecedorTeleconeCelular" label="Telefone celular" model="fornecedor.Telefones.Celular" placeholder="Informe o telefone celular"
      grid="12 6 4" readonly="tabDelete"></field>

    <div class="col-xs-12">
      <fieldset>
        <legend>Endereços</legend>
        <div ng-include="'cadastros/fornecedores/enderecoList.html'"></div>
      </fieldset>
    </div>
  </div>

  <div class="col-xs-12">
    <fieldset>
      <legend>Produtos</legend>
      <div ng-include="'cadastros/fornecedores/produtosList.html'"></div>
    </fieldset>
  </div>
</div>

<div class="box-footer">
  <button class="btn btn-primary" ng-click="createFornecedor()" ng-if="tabCreate">Incluir</button>
  <button class="btn btn-info" ng-click="updateFornecedor()" ng-if="tabUpdate">Alterar</button>
  <button class="btn btn-danger" ng-click="deleteFornecedor()" ng-if="tabDelete">Excluir</button>
  <button class="btn btn-default" ng-click="cancel()">Cancelar</button>
</div>
</div>